<ul class="lots__list">
    {% for lot in pagination %}
       {% set difference = time_left(lot.endDate) %}
        <li class="lots__item lot">
            <div class="lot__image">
                <img src="{{ asset(lot.imagePath) }}" width="350" height="260" alt="{{ lot.name }}">
            </div>
            <div class="lot__info">
                <span class="lot__category">{{ lot.category.name }}</span>
                <h3 class="lot__title"><a class="text-link" href="{{ path('app_by_id', {'id': lot.id}) }}">{{ lot.name }}</a></h3>
                <div class="lot__state">
                    <div class="lot__rate">
                        <span class="lot__amount">
                            {% if lot.bets|length > 0 %}
                                {{ lot.bets|length|count_bets }}
                            {% else %}
                                Стартовая цена
                            {% endif %}
                        </span>
                        <span class="lot__cost">{{ lot.currentPrice|number_format(0, ',', ' ') }}<b class="rub">р</b></span>
                    </div>
                    <div class="lot__timer timer{% if difference.class %} timer--finishing{% endif %}">
                        {{ difference.time }}
                    </div>
              </div>
            </div>
        </li>
    {% endfor %}
</ul>
    
{{ knp_pagination_render(pagination, 'pagination/pagination.html.twig') }}